<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shopping_list.name %>
</p>

<p>
  <strong>Food:</strong>
  <%= @shopping_list.food.name %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
